* {
    box-sizing: border-box;
}

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
    font-size: smaller;
}

.timeline {
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #5a5a5a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container h2 {
    margin-top: 0px;
}

.left {
    left: 0;
}
  
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
.right::after {
    left: -16px;
}
  
.content {
    padding: 10px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    
}
.container.type-general .content {
    border-top: 5px solid darkblue;
}
.container.type-doc .content {
    border-top: 5px solid rgb(0, 112, 6);
}
.container.type-incident .content {
    border-top: 5px solid rgb(173, 0, 0);
}

.content .linkarea {
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    
    .left::after, .right::after {
        left: 15px;
    }
    
    .right {
        left: 0%;
    }
}