* {
    box-sizing: border-box;
}

body {
    background-color: #6b6b6b;
    font-family: Helvetica, sans-serif;
    font-size: smaller;
}

.timeline {
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #5a5a5a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container h2 {
    margin-top: 0px;
}

.left {
    left: 0;
}
  
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
.right::after {
    left: -16px;
}
  
.content {
    padding: 10px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    
}
.container.type-general .content {
    border-top: 8px solid darkblue;
}
.container.type-doc .content {
    border-top: 8px solid rgb(0, 112, 6);
}
.container.type-incident .content {
    border-top: 8px solid rgb(173, 0, 0);
}
.container.type-event .content, .container.type-talk .content, .container.type-podcast .content, .container.type-broadcast .content {
    border-top: 8px solid rgb(212, 145, 0);
}
.container.type-fragdenstaat .content {
    border-top: 8px solid #0047e1;
}
.container.type-news .content {
    border-top: 8px solid #8000a7;
}

.content .linkarea {
    margin-top: 15px;
}

.content .tag {
    line-height: 2.2em;
    background-color: gray;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-right: 5px;

    font-weight: bold;
    color: white;
}

/******************************************************************************************************************************/
/* WIDGETS ********************************************************************************************************************/
/******************************************************************************************************************************/
.embed-widget {
    margin-top: 10px; 
}

/* Frag den Staat-Widget */
.fds-widget {
    border: 3px solid #0047e1;
    min-height: 200px;
    border-radius: 4px;
}
.fds-widget .fds-title {
    background-color: #0047e1;
    color: white; 
    font-weight: bold;
    padding: 5px 3px;
}
.fds-widget .fds-content {
    padding: 5px 5px;
}

.fds-content .fds-content-title {
    font-weight: bold;
    display: block;
    margin-top: 5px; 
}

.fds-content .fds-credit {
    border-top: 1px dotted #0047e1;
    margin-top: 10px;
    padding: 3px;
    font-size: smaller;
}
.fds-content .fds-status-badge {
    background-color: rgb(68, 68, 68);
    color: white; 
    padding: 3px 5px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 2em;
}
.fds-content .fds-status-badge.fds-status-resolved {
    background-color: darkgreen;
}
.fds-content .fds-status-badge.fds-status-awaiting_response {
    background-color: orangered;
}
/*.fds-content .fds-credit::before {
    content: url('/assets/fds/logo.svg'); 
    width: 100px; 
} */
.fds-content .fds-credit button {
    border: 1px solid #0047e1;
    border-radius: 3px;
    background-color: #0047e1; 
    color: white; 
    font-weight: bold;
    margin-top: 5px;
    padding: 6px;
    display: block;
}

/* Gitlab-Widget */
.gl-widget {
    border: 3px solid rgb(41, 41, 97);
    min-height: 200px;
    border-radius: 4px;
}
.gl-widget .gl-title {
    background-color: rgb(41, 41, 97);
    color: white; 
    font-weight: bold;
    padding: 5px 3px;
}
.gl-widget .gl-content {
    padding: 5px 5px;
}

.gl-content .gl-content-title {
    font-weight: bold;
    display: block;
    margin-top: 5px; 
}

.gl-content .gl-credit {
    border-top: 1px dotted rgb(41, 41, 97);
    margin-top: 10px;
    padding: 3px;
    font-size: smaller;
}
.gl-content .gl-status-badge {
    background-color: rgb(68, 68, 68);
    color: white; 
    padding: 3px 5px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 2em;
}
.gl-content .gl-status-badge.gl-status-resolved {
    background-color: darkgreen;
}
.gl-content .gl-status-badge.gl-status-awaiting_response {
    background-color: orangered;
}
/*.gl-content .gl-credit::before {
    content: url('/assets/fds/gitlab-logo-gray-stacked-rgb.svg'); 
    width: 100px; 
} */
.gl-content .gl-credit button {
    border: 1px solid rgb(41, 41, 97);
    border-radius: 3px;
    background-color: rgb(41, 41, 97); 
    color: white; 
    font-weight: bold;
    margin-top: 5px;
    padding: 6px;
    display: block;
}

blockquote {
    text-indent: -0.45em;
    font-style: italic;
    font-family: Georgia;
}
@supports ( hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
blockquote {
    quotes: "“" "”" "‘" "’";
}


@media screen and (max-width: 1435px) {
    .podlove {
        height: 380px;
        width: unset;
    }
}

@media screen and (max-width: 800px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    
    .left::after, .right::after {
        left: 15px;
    }
    
    .right {
        left: 0%;
    }
}