Options -Indexes
ServerSignature Off
Header unset server

RewriteEngine On
RedirectMatch 404 /\.git
RedirectMatch 404 /config

Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
Header always set Referrer-Policy "no-referrer"